spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
tqdm==4.64.0
Flask
gunicorn
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability